<span class="program-info-container">
    <input type="text" class="program-title-for-planner" value="{{name}}">
    <div class="play-button program-control-button">Play</div>
    <div class="stop-button program-control-button">Stop</div>
    <div class="save-button program-control-button">Save</div>
    <div class="delete-button program-control-button">Delete</div>
</span>