<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Metronome</title>

    <!-- Reference for later styling -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Roboto:wght@300;400&display=swap" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous"> -->
    <script src="index.js" charset="utf-8" defer></script>

    <!-- <audio controls src="./sounds/metronomeup.wav" id="click-up"></audio>
    <audio controls src="./sounds/metronome.wav" id="click-down"></audio> -->
  </head>

  <body>

    <header>

        <div class="title-text-container">
            <h1 id="site-title">Metronome</h1>
        </div>

        <span class="navbar-container">
            <ul class="navbar-list">
                <li class="navbar-item"><div class="navbar-link-container"><a href="/">Metronome</a></div></li>
                <li class="navbar-item"><div class="navbar-link-container"><a href="/automation">Automation</a></div></li>
                <li class="navbar-item"><div class="navbar-link-container"><a href="/about">About</a></div></li>
            </ul>
        </span>

    </header>

        {{{body}}}

  </body>
</html>
