<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Metronome</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="/index.js" charset="utf-8" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" defer></script>
    <script src="/programIcon.js" charset="utf-8" defer></script>
    <script src="/programBlock.js" charset="utf-8" defer></script>
  </head>

  <body>

    <header>

        <div class="title-text-container">
            <h1 id="site-title">Metronome</h1>
        </div>

        <span class="navbar-container">
            <ul class="navbar-list">
                <li class="navbar-item"><div class="navbar-link-container"><a href="/">Metronome</a></div></li>
                <li class="navbar-item"><div class="navbar-link-container"><a href="/automation">Automation</a></div></li>
                <li class="navbar-item"><div class="navbar-link-container"><a href="/about">About</a></div></li>
            </ul>
        </span>

    </header>

        {{{body}}}

  </body>
</html>
