<main class="text-content about-content">
    <p>
        This is a fully programmable online metronome that was designed for my CS 290 class at Oregon State University.
        The app features two sections: a main metronome page, and an automated metronome page. You can use the main
        metronome page like any other metronome app. You can set tempo and subdivisions and then start and stop the
        metronome as you desire while practicing. The automated section allows you to create custom programs that
        contain separate blocks of metronome data. Here you can sequence any number of blocks that consist of different
        counts, tempos, and subdivisions. This is a very handy feature when practicing a piece of music that contains
        changing tempos, time signatures, and rhythmic feels. Rather than settling on a metronome setting that works
        throughout the whole piece, or stopping and changing it during a rep, you can simply program the metronome to
        follow along with your music to give you optimal tempo practice. 
    </p>
    <p>
        Coming from a drumming background, I wanted a simple metronome that I could easily program to play at different
        speeds or subdivisions, but the most common option is the expensive DB-90 metronome which requires a constant
        supply of 9v batteries. This application easily covers that area, by allowing me to easily program metronome
        patterns while also being convenient and always available over the internet.
    </p>
</main>