<script src="/automation.js" charset="utf-8" defer></script>

<main class="text-content">

    {{#each programs}}
        {{> programIcon}}
    {{/each}}

    <div class="add-program-icon program-list-container" id="add-program">
        <h3 class="add-program-icon-label">Add New Program</h3>
    </div>

</main>