<main class="text-content">

    <div class="program-icon program-list-container">
        <h3 class="program-title">new program</h3>
        <a href="#" class="open-program-link">OPEN</a>
    </div>

    <div class="program-icon program-list-container">
        <h3 class="program-title">new program 2</h3>
        <a href="#" class="open-program-link">OPEN</a>
    </div>

    <div class="program-icon program-list-container">
        <h3 class="program-title">new program 3</h3>
        <a href="#" class="open-program-link">OPEN</a>
    </div>

    <div class="program-icon program-list-container">
        <h3 class="program-title">new program 4</h3>
        <a href="#" class="open-program-link">OPEN</a>
    </div>

    <div class="add-program-icon program-list-container">
        <h3 class="add-program-icon-label">Add New Program</h3>
    </div>

</main>