<main class="metronome">
        <div class="metronome-container">
            <div class="metronome-indicator-container">

            </div>

            <div class="metronome-controls-container">
                <div class="subdivision-controls-container">
                    <div class="subdividion-container">
                        <input type="checkbox" id="quarter" name="quarter" value="quarter" checked>
                        <label for="quarter">Quarter</label>
                    </div>

                    <div class="subdividion-container">
                        <input type="checkbox" id="eighth" name="eighth" value="eighth">
                        <label for="eighth">Eighth</label>
                    </div>

                    <div class="subdividion-container">
                        <input type="checkbox" id="sixteenth" name="sixteenth" value="sixteenth">
                        <label for="sixteenth">Sixteenth</label>
                    </div>

                    <div class="subdividion-container">
                        <input type="checkbox" id="triplet" name="triplet" value="triplet">
                        <label for="triplet">Triplet</label>
                        <div class="subdivision-icon-container"></div>
                    </div>
                </div>

                <div class="tempo-controls-container">
                    <span class="tempo-controls">
                        <button class="tempo-control tempo-control-button" id="minus-ten" type="button">-10</button>
                        <button class="tempo-control tempo-control-button" id="minus-one" type="button">-1</button>
                        <input type="text" id="tempo" name="tempo" class="tempo-control" value="120">
                        <button class="tempo-control tempo-control-button" id="plus-one" type="button">+1</button>
                        <button class="tempo-control tempo-control-button" id="plus-ten" type="button">+10</button>
                    </span>

                    <div class="start-stop-button-container">
                        <button class="start-stop-button" type="button" value="paused">Start</button>
                    </div>
                </div>
            </div>
        </div>
    </main>