{{> programPlannerControls}}

<main class="text-content">

    {{#each blocks}}
        {{> programBlock}}
    {{/each}}

    <div class="add-program-icon program-list-container" id="add-program-block">
        <h3 class="add-program-icon-label">Add New Block</h3>
    </div>

</main>